<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsGraficarSvcWebPortBinding" />
                <binding name="WsGraficarSvcWebPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://2.2.2.24:7001/wsGraficarWeb/WsGraficarSvcWebService"
                binding="basicHttpBinding" bindingConfiguration="WsGraficarSvcWebPortBinding"
                contract="WsGraficarSvc.WsGraficarSvcWeb" name="WsGraficarSvcWebPort" />
            <endpoint address="http://2.2.2.24:7001/wsGraficarWeb/WsGraficarSvcWebService"
                binding="basicHttpBinding" bindingConfiguration="WsGraficarSvcWebPortBinding1"
                contract="WsGraficarSvc.WsGraficarSvcWeb" name="WsGraficarSvcWebPort1" />
        </client>
    </system.serviceModel>
</configuration>