<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClinicaAlemanaAccessServiceBeanPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.70.3.189:18080/athena.oeweb.backend/alemanaccess/Service"
                binding="basicHttpBinding" bindingConfiguration="ClinicaAlemanaAccessServiceBeanPortBinding"
                contract="wsAthenas.ClinicaAlemanaAccessService" name="ClinicaAlemanaAccessServiceBeanPort" />
        </client>
    </system.serviceModel>
</configuration>