<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WslugaresfisicosWebPortBinding" />
                <binding name="WsareagestionWebPortBinding" />
                <binding name="WsatributosnewWebPortBinding" />
                <binding name="WssectoresnewWebPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cerezo.alemana.cl:7021/WsAreaGestionWeb/WsareagestionWebService"
                binding="basicHttpBinding" bindingConfiguration="WsareagestionWebPortBinding"
                contract="AreaGestionServiceReference.WsareagestionWeb" name="WsareagestionWebPort" />
            <endpoint address="http://cwsnucleo.alemana.cl:80/WsLugaresFisicosWeb/WslugaresfisicosWebService"
                binding="basicHttpBinding" bindingConfiguration="WslugaresfisicosWebPortBinding"
                contract="WsLugaresFisicos.WslugaresfisicosWeb" name="WslugaresfisicosWebPort" />
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/wsSectoresNewWeb/WssectoresnewWebService"
                binding="basicHttpBinding" bindingConfiguration="WssectoresnewWebPortBinding"
                contract="WsSectores.WssectoresnewWeb" name="WssectoresnewWebPort" />
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/WsAtributosNewWeb/WsatributosnewWebService"
                binding="basicHttpBinding" bindingConfiguration="WsatributosnewWebPortBinding"
                contract="WsAtributosNew.WsatributosnewWeb" name="WsatributosnewWebPort" />
        </client>
    </system.serviceModel>
</configuration>