<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsnosologiagestionWebPortBinding" />
                <binding name="WsgestiondeindicacionesWebPortBinding" />
                <binding name="WsnosologiagestionWebPortBinding1" />
                <binding name="WsindinterfazgestionWebPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/WsNosologiaGestionWeb/WsnosologiagestionWebService"
                binding="basicHttpBinding" bindingConfiguration="WsnosologiagestionWebPortBinding"
                contract="WsNosologiaGestion.WsnosologiagestionWeb" name="WsnosologiagestionWebPort" />
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/WsNosologiaGestionWeb/WsnosologiagestionWebService"
                binding="basicHttpBinding" bindingConfiguration="WsnosologiagestionWebPortBinding1"
                contract="WsNosologiaGestion.WsnosologiagestionWeb" name="WsnosologiagestionWebPort1" />
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/wsIndInterfazGestionWeb/WsindinterfazgestionWebService"
                binding="basicHttpBinding" bindingConfiguration="WsindinterfazgestionWebPortBinding"
                contract="wsCategoriaGestion.WsindinterfazgestionWeb" name="WsindinterfazgestionWebPort" />
            <endpoint address="http://cwsnucleo.alemana.cl:80/WsGestionDeIndicacionesWeb/WsgestiondeindicacionesWebService"
                binding="basicHttpBinding" bindingConfiguration="WsgestiondeindicacionesWebPortBinding"
                contract="WsGestionDeIndicaciones.WsgestiondeindicacionesWeb"
                name="WsgestiondeindicacionesWebPort" />
        </client>
    </system.serviceModel>
</configuration>