<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsprotocoloformatoWebPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cwsnucleo2.alemana.cl:80/WsProtocoloFormatoWeb/WsprotocoloformatoWebService"
                binding="basicHttpBinding" bindingConfiguration="WsprotocoloformatoWebPortBinding"
                contract="WsFormatoProtocoloWeb.WsprotocoloformatoWeb" name="WsprotocoloformatoWebPort" />
        </client>
    </system.serviceModel>
</configuration>