<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsindinterfazgestionWebPortBinding" />
                <binding name="WsgestionindicacionesWebPortBinding" />
                <binding name="WsnotasWebPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/wsIndInterfazGestionWeb/WsindinterfazgestionWebService"
                binding="basicHttpBinding" bindingConfiguration="WsindinterfazgestionWebPortBinding"
                contract="wsCategoriaGestion.WsindinterfazgestionWeb" name="WsindinterfazgestionWebPort" />
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/WsGestionIndicacionesWeb/WsgestionindicacionesWebService"
                binding="basicHttpBinding" bindingConfiguration="WsgestionindicacionesWebPortBinding"
                contract="wsGestionIndicaciones.WsgestionindicacionesWeb"
                name="WsgestionindicacionesWebPort" />
            <endpoint address="http://dev11g-nucleo.alemana.cl:80/wsNotasWeb/WsnotasWebService"
                binding="basicHttpBinding" bindingConfiguration="WsnotasWebPortBinding"
                contract="WsServicio.WsnotasWeb" name="WsnotasWebPort" />
        </client>
    </system.serviceModel>
</configuration>