<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WscabeceraWebPortBinding" />
        <binding name="WsetiquetafichaWebPortBinding" />
        <binding name="WsetiquetaWebPortBinding" />
        <binding name="WsFichaObstetricaWebPortBinding" />
        <binding name="WsusrfichanotaWebPortBinding" />
        <binding name="WsobstetriciacontrolWebPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://2.2.2.24:7001/wsUsrFichaNotaWeb/WsusrfichanotaWebService"
        binding="basicHttpBinding" bindingConfiguration="WsusrfichanotaWebPortBinding"
        contract="WsFichaObstetrica.WsusrfichanotaWeb" name="WsusrfichanotaWebPort" />
      <endpoint address="http://10.70.6.96:7031/wsCabeceraWeb/WscabeceraWebService"
        binding="basicHttpBinding" bindingConfiguration="WscabeceraWebPortBinding"
        contract="WsCabecera.WscabeceraWeb" name="WscabeceraWebPort" />
      <endpoint address="http://10.70.6.96:7031/wsEtiquetaWeb/WsetiquetaWebService"
        binding="basicHttpBinding" bindingConfiguration="WsetiquetaWebPortBinding"
        contract="WsEtiqueta.WsetiquetaWeb" name="WsetiquetaWebPort" />
      <endpoint address="http://10.70.6.96:7031/wsEtiquetaFichaWeb/WsetiquetafichaWebService"
        binding="basicHttpBinding" bindingConfiguration="WsetiquetafichaWebPortBinding"
        contract="WsEtiquetaFicha.WsetiquetafichaWeb" name="WsetiquetafichaWebPort" />
      <endpoint address="http://10.70.6.96:7031/wsFichaObstetricaWeb/WsFichaObstetricaWebService"
        binding="basicHttpBinding" bindingConfiguration="WsFichaObstetricaWebPortBinding"
        contract="WsPacientes.WsFichaObstetricaWeb" name="WsFichaObstetricaWebPort" />
      <endpoint address="http://10.0.0.80:7001/wsObstetriciaControl/WsobstetriciacontrolWebService"
        binding="basicHttpBinding" bindingConfiguration="WsobstetriciacontrolWebPortBinding"
        contract="WsControl.WsobstetriciacontrolWeb" name="WsobstetriciacontrolWebPort" />
    </client>
  </system.serviceModel>
</configuration>