<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alemana.Nucleo.Graficar.Wpf.Resources.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Alemana.Nucleo.Graficar.Wpf.Resources.Default>
            <setting name="ZonaGrafico" serializeAs="String">
                <value>ZonaGrafico</value>
            </setting>
            <setting name="LabelEdadTemplate" serializeAs="String">
                <value>LabelEdadTemplate</value>
            </setting>
            <setting name="MasculinoTemplate" serializeAs="String">
                <value>MConceptoDataTemplate</value>
            </setting>
            <setting name="FemeninoTemplate" serializeAs="String">
                <value>FConceptoDataTemplate</value>
            </setting>
        </Alemana.Nucleo.Graficar.Wpf.Resources.Default>
    </applicationSettings>
</configuration>