<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="exceptionHandlingSection" type="Alemana.Common.ExceptionHandling.Configuration.ExceptionHandlingSection, Alemana.Common" />
    <section name="instrumentationSection" type="Alemana.Common.Instrumentation.Configuration.InstrumentationSection, Alemana.Common" />
    <section name="cachingSection" type="Alemana.Common.Caching.Configuration.CachingSection, Alemana.Common" />
  </configSections>

  <appSettings>
    <add key="Alemana.Nucleo.Common.Trace.ActiveTraceSource" value="Alemana.Nucleo.Shell" />
    <add key="Alemana.Nucleo.Common.Security.Authentication.MockMode" value="false"/>
    <add key="Alemana.Nucleo.Common.Security.Password.MockMode" value="true"/>
    <add key="Alemana.Nucleo.Common.Security.Authorization.MockMode" value="false"/>
    <add key="Alemana.Nucleo.Common.Security.Auditing.MockMode" value="true"/>
    <add key="Alemana.Nucleo.Common.Utility.CryptoHelper.Key" value="F15F0948C908DBCD65E725E10D4D8D129DFE294F9A29CBB9C29CA56F978520CA"/>
  </appSettings>

  <!--EXCEPTION HANDLING-->
  <exceptionHandlingSection>
    <exceptionPolicies>
      <add name="PoliticaRemplazar" log="true">
        <exceptionTypes>
          <add name="DivideByZeroException"
               type="System.DivideByZeroException"
               action="Replace"
               newExceptionType="System.NullReferenceException"
               newExceptionMessage="El valor de la nueva excepcion en lugar de DivideByZeroException!" />

          <add name="Exception"
               type="System.Exception"
               action="Replace"
               newExceptionType="System.OverflowException"
               newExceptionMessage="El valor de la nueva excepcion ahora es de Overflow!" />
        </exceptionTypes>
      </add>

      <add name="PoliticaEnvolver" log="true">
        <exceptionTypes>
          <add name="DivideByZeroException"
               type="System.DivideByZeroException"
               action="Wrap"
               newExceptionType="System.NullReferenceException"
               newExceptionMessage="El valor de la nueva excepcion en lugar de DivideByZeroException!" />

          <add name="Exception"
               type="System.Exception"
               action="Wrap"
               newExceptionType="System.NullReferenceException"
               newExceptionMessage="El valor de la nueva excepcion ENVOLVER!" />
        </exceptionTypes>
      </add>

      <add name="PoliticaRelanzar/Nada">
        <exceptionTypes>
          <add name="DivideByZeroException"
               type="System.DivideByZeroException"
               action="Rethrow" />
          <add name="NullReferenceException"
               type="System.NullReferenceException"
               action="None" />
          <add name="Exception"
               type="System.Exception"
               action="Rethrow" />
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandlingSection>

  <!--INSTRUMENTATION-->
  <instrumentationSection>
    <performanceCounterCategories>

      <add name="CategoriaInstrumentationProvider" description="Descripción de la categoría CategoríaInstrumentationProvider"
           isActive="true">

        <performanceCounters>
          <add name="ContadorAverageTimer" description="Descripción del contador ContadorAverageTimer"
               type="AverageTimer">
            <performanceCounterInstances>
              <add name="ContadoresTiempoPromedioTest" />
              <add name="DemoAllCountersInstrumentation" />
              <add name="DemoAllCountersInstrumentation2" />
              <add name="RegisterTimeTest" />
            </performanceCounterInstances>
          </add>

          <add name="ContadorNumberOfItems" description="Descripción del ContadorNumberOfItems"
               type="NumberOfItems">
            <performanceCounterInstances>
              <add name="ContadoresNumeroDeItemsTest" />
              <add name="DecreaseContadorNumeroDeItemsTest" />
              <add name="DecreaseContadorNumeroDeItemsTest2" />
              <add name="DemoAllCountersInstrumentation" />
              <add name="DemoAllCountersInstrumentation2" />
              <add name="InstanciaNumberOfItems2" />
              <add name="DecreaseCounterTest" />
              <add name="IncreaseCounterTest" />
              <add name="IncreaseCounterTest1" />
            </performanceCounterInstances>
          </add>
          <!--<add name="ContadorRateCountsPerSecond" description="Descripción del contador cantidad por segundo" 
               type="RateOfCountsPerSecond">
            <performanceCounterInstances>
              <add name="InstanciaCantidadPorSegundo" />
            </performanceCounterInstances>
          </add>-->

        </performanceCounters>
      </add>


      <add name="Alemana.Shell" 
           description="Contadores de desempeño del Shell de aplicaciones de Alemana." isActive="true">
        <performanceCounters>
          <add name="SesionesIniciadas" 
               description="Cantidad de sesiones iniciadas desde el inicio del Shell."
               type="NumberOfItems">
            <performanceCounterInstances>
              <add name="Instancia" />
            </performanceCounterInstances>
          </add>
          
          <add name="LlamadasWebLogic"
               description="Cantidad de llamadas a Web Logic."
               type="NumberOfItems">
            <performanceCounterInstances>
              <add name="Instancia" />
            </performanceCounterInstances>
          </add>

          <add name="LlamadasWebLogicSec"
               description="Cantidad de llamadas a Web Logic por seg."
               type="RateOfCountsPerSecond">
            <performanceCounterInstances>
              <add name="Instancia" />
            </performanceCounterInstances>
          </add>

          <add name="LlamadasWebLogicTiempoPromedio"
               description="Cantidad de llamadas a WebLogic tiempo promedio"
               type="AverageTimer">
            <performanceCounterInstances>
              <add name="Instancia" />
            </performanceCounterInstances>
          </add>

        </performanceCounters>
      </add>

      <add name="_Alemana_Contadores_Codigo" description="Categoría utilizada para la demo Alemana" isActive="true">
      </add>

      <!--Contadores del framework -->
      <add name="Alemana.Nucleo.Common" description="Contadores de performance de Alemana.Common" isActive="true">
        <performanceCounters>
          <add name="# Ejecuciones exitosas" description="Numero total de ejecuciones del método o servicio" type="NumberOfItems" />
          <add name="# Ejecuciones en curso" description="Numero de servicios que están siendo ejecutadas al momento de medir el contador" type="NumberOfItems" />
          <add name="# Ejecuciones / sec" description="Numero de ejecuciones del método o servicio por segundo" type="RateOfCountsPerSecond" />
          <add name="# Ejecuciones con Errores" description="Numero total de ejecutaciones con error del método o servicio" type="NumberOfItems" />
          <add name="# Errores / sec" description="Numero de ejecuciones con error por segundo del método o servicio" type="RateOfCountsPerSecond" />
          <add name="Tiempo promedio base" description="Promedio de duracion base del método o servicio" type="AverageTimer" />
          <add name="Tiempo promedio de ejecución" description="Promedio de duracion por ejecucion del método o servicio" type="AverageTimer" />
        </performanceCounters>
      </add>

    </performanceCounterCategories>

  </instrumentationSection>

  <!--CACHING-->
  <cachingSection defaultPolicy="PolicyX">
    <cachePolicies>
      <add name="PolicyX" cacheType="LocalCache"
           defaultLifetime="5"
           cacheMemoryLimitMegabytes="7"
           physicalMemoryLimitPercentage="15"
           pollingInterval="00:00:05" />
      <add name="PolicyY" cacheType="LocalCache" defaultLifetime="2000" />
      <add name="PolicyZ" cacheType="NoCache" defaultLifetime="2000" />
    </cachePolicies>
  </cachingSection>

  <!--TRACING-->
  <system.diagnostics>
    <sources>
      <source name="AlemanaExceptionsSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
          <add name="EventLog" />
          <add name="Text" />
          <add name="Xml" />
        </listeners>
      </source>

      <source name="EventLogTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
          <add name="EventLog" />
          <add name="Text" />
          <add name="Xml" />
        </listeners>
      </source>

      <source name="FilesTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
          <add name="Xml" />
          <add name="Text" />
        </listeners>
      </source>

      <source name="NoTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
        </listeners>
      </source>

      <source name="ConsoleTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
          <add name="Console" />
        </listeners>
      </source>


      <source name="Alemana.Shell">
        <listeners>
          <add name="Roll"/>
        </listeners>
      </source>

    </sources>

    <switches>
      <add name="sourceSwitch" value="All" />
      <!--Apaga el tracing-->
      <!--<add name="sourceSwitch" value="off" />-->
      <add name="lightweight" value="false" />
    </switches>

    <sharedListeners>
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener"
           initializeData="DemoTracingAlemana">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="Roll"
        type="Alemana.Nucleo.Common.Tracing.TimeRolledListener, Alemana.Nucleo.Common"
        initializeData="Shell.log|60|10">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="Xml" type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="d:\Logs\myXMLListener.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
      <add name="Text" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\Logs\myTextListener.log" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>

      <add name="EventLogExceptions" type="System.Diagnostics.EventLogTraceListener" initializeData="ExceptionsAppAlemana">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="TextWithOutput" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\Logs\myTextListener.log"
           traceOutputOptions="ProcessId,LogicalOperationStack">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
  </system.diagnostics>


</configuration>