<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsauditoriagestionWebPortBinding" />
                <binding name="WsimpretemplateWebPortBinding" />
                <binding name="WsimpretemplateWebPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cwsnucleo2.alemana.cl:80/WsAuditoriaGestionWeb/WsauditoriagestionWebService" binding="basicHttpBinding" bindingConfiguration="WsauditoriagestionWebPortBinding" contract="WsAuditoriaGestionServiceReference.WsauditoriagestionWeb" name="WsauditoriagestionWebPort" />
            <endpoint address="http://10.70.6.135:7031/wsImpreTemplateWeb/WsimpretemplateWebService" binding="basicHttpBinding" bindingConfiguration="WsimpretemplateWebPortBinding" contract="wsImpreTemplate.WsimpretemplateWeb" name="WsimpretemplateWebPort" />
            <endpoint address="http://10.70.6.135:7031/wsImpreTemplateWeb/WsimpretemplateWebService" binding="basicHttpBinding" bindingConfiguration="WsimpretemplateWebPortBinding1" contract="wsImpreTemplateServiceReference.WsimpretemplateWeb" name="WsimpretemplateWebPort1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.3.1320.45" newVersion="2013.3.1320.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>