<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsauditoriagestionWebPortBinding" />
                <binding name="Wssuser2rolesWebPortBinding" />
                <binding name="WsnucsessionWebPortBinding" />
                <binding name="WspersistenciaWebPortBinding" />
                <binding name="WsnucsessionWebPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cwsnucleo.alemana.cl:80/WsSuser2RolesWeb/Wssuser2rolesWebService" binding="basicHttpBinding" bindingConfiguration="Wssuser2rolesWebPortBinding" contract="WsSuser2Roles.Wssuser2rolesWeb" name="Wssuser2rolesWebPort" />
            <endpoint address="http://manzano.alemana.cl:7021/wsNucSessionWeb/WsnucsessionWebService" binding="basicHttpBinding" bindingConfiguration="WsnucsessionWebPortBinding" contract="wsSession.WsnucsessionWeb" name="WsnucsessionWebPort" />
            <endpoint address="http://manzano.alemana.cl:7021/WsAuditoriaGestionWeb/WsauditoriagestionWebService" binding="basicHttpBinding" bindingConfiguration="WsauditoriagestionWebPortBinding" contract="WsAuditoriaGestionServiceReference.WsauditoriagestionWeb" name="WsauditoriagestionWebPort" />
            <endpoint address="http://cwsnucleo2.alemana.cl:80/WsPersistenciaWeb/WspersistenciaWebService" binding="basicHttpBinding" bindingConfiguration="WspersistenciaWebPortBinding" contract="WsPersistencia.WspersistenciaWeb" name="WspersistenciaWebPort" />
            <endpoint address="http://cwsnucleo2.alemana.cl:80/wsNucSessionWeb/WsnucsessionWebService" binding="basicHttpBinding" bindingConfiguration="WsnucsessionWebPortBinding1" contract="wsSession.WsnucsessionWeb" name="WsnucsessionWebPort1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>