<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsfechahoraactualWebPortBinding1" />
                <binding name="WsindpgindwspanelindicacionesWebPortBinding" />
                <binding name="WsgestiontransversalWebPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cwsnucleo2.alemana.cl:80/wsFechaHoraActualWeb/WsfechahoraactualWebService" binding="basicHttpBinding" bindingConfiguration="WsfechahoraactualWebPortBinding1" contract="SysdateOracle.WsfechahoraactualWeb" name="WsfechahoraactualWebPort1" />
            <endpoint address="http://cwsnucleo2.alemana.cl:80/wsIndpgIndwsPanelIndicacionesWeb/WsindpgindwspanelindicacionesWebService" binding="basicHttpBinding" bindingConfiguration="WsindpgindwspanelindicacionesWebPortBinding" contract="WsPanelIndicaciones.WsindpgindwspanelindicacionesWeb" name="WsindpgindwspanelindicacionesWebPort" />
            <endpoint address="http://cwsnucleo2.alemana.cl:80/wsGestionTransversalWeb/WsgestiontransversalWebService" binding="basicHttpBinding" bindingConfiguration="WsgestiontransversalWebPortBinding" contract="AmbitoEpisodio.WsgestiontransversalWeb" name="WsgestiontransversalWebPort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>