<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WslistalinealordenwebWebPortBinding" />
        <binding name="WsplantillaswebWebPortBinding" />
        <binding name="WsagrupadorwebWebPortBinding" />
        <binding name="WsvariableWebPortBinding" />
        <binding name="WslistatipovariableWebPortBinding" />
        <binding name="WsseguridadwebWebPortBinding" />
        <binding name="WscategoriaWebPortBinding" />
        <binding name="WsmoduloWebPortBinding" />
        <binding name="WslistatipovariableWebPortBinding1" />
        <binding name="WslistalinealWebPortBinding" />
        <binding name="WsgestionresultadoslabWebPortBinding" />
        <binding name="WsgestionresultadoslabWebPortBinding1" />
        <binding name="NucleoWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://2.2.2.24:7001/wsListaTipoVariableWeb/WslistatipovariableWebService" binding="basicHttpBinding" bindingConfiguration="WslistatipovariableWebPortBinding" contract="WsListaTipoVariable.WslistatipovariableWeb" name="WslistatipovariableWebPortBinding" />
      <endpoint address="http://2.2.2.24:7001/wsListaTipoVariableWeb/WslistatipovariableWebService" binding="basicHttpBinding" bindingConfiguration="WslistatipovariableWebPortBinding1" contract="WsListaTipoVariable.WslistatipovariableWeb" name="WslistatipovariableWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsVariableWeb/WsvariableWebService" binding="basicHttpBinding" bindingConfiguration="WsvariableWebPortBinding" contract="WsVariable.WsvariableWeb" name="WsvariableWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsAgrupadorWeb/WsagrupadorwebWebService" binding="basicHttpBinding" bindingConfiguration="WsagrupadorwebWebPortBinding" contract="WsAgrupador.WsagrupadorwebWeb" name="WsagrupadorwebWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsCategoriaWeb/WscategoriaWebService" binding="basicHttpBinding" bindingConfiguration="WscategoriaWebPortBinding" contract="WsCategoria.WscategoriaWeb" name="WscategoriaWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsListaLinealOrdenWeb/WslistalinealordenwebWebService" binding="basicHttpBinding" bindingConfiguration="WslistalinealordenwebWebPortBinding" contract="WsListaLinealOrden.WslistalinealordenwebWeb" name="WslistalinealordenwebWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsModuloWeb/WsmoduloWebService" binding="basicHttpBinding" bindingConfiguration="WsmoduloWebPortBinding" contract="WsModulo.WsmoduloWeb" name="WsmoduloWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsPlantillasWeb/WsplantillaswebWebService" binding="basicHttpBinding" bindingConfiguration="WsplantillaswebWebPortBinding" contract="WsPlantilla.WsplantillaswebWeb" name="WsplantillaswebWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsSeguridadWeb/WsseguridadwebWebService" binding="basicHttpBinding" bindingConfiguration="WsseguridadwebWebPortBinding" contract="WsSeguridad.WsseguridadwebWeb" name="WsseguridadwebWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsListaLinealWeb/WslistalinealWebService" binding="basicHttpBinding" bindingConfiguration="WslistalinealWebPortBinding" contract="WsListaLineal.WslistalinealWeb" name="WslistalinealWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsGestionResultadosLabWeb/WsgestionresultadoslabWebService" binding="basicHttpBinding" bindingConfiguration="WsgestionresultadoslabWebPortBinding" contract="WsGestionResultadosLab.WsgestionresultadoslabWeb" name="WsgestionresultadoslabWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsGestionResultadosLabWeb/WsgestionresultadoslabWebService" binding="basicHttpBinding" bindingConfiguration="WsgestionresultadoslabWebPortBinding1" contract="wsResultadosLab.WsgestionresultadoslabWeb" name="WsgestionresultadoslabWebPort1" />
      <endpoint address="http://maitencillo/Valuetech.Nucleo/NucleoWS.asmx" binding="basicHttpBinding" bindingConfiguration="NucleoWSSoap" contract="WsDocuware.NucleoWSSoap" name="NucleoWSSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>