<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsfiltrosestadisticasWebPortBinding" />
        <binding name="WsplantillaestadisticaWebPortBinding" />
        <binding name="WsincidenciamoduloWebPortBinding" />
        <binding name="AL_INTEGRACION_NUCLEO_Binding" />
        <binding name="WsindicadoresestadisticasWebPortBinding" />
        <binding name="WsagendamedicaWebPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://2.2.2.24:7001/WsFiltrosEstadisticas/WsfiltrosestadisticasWebService"
        binding="basicHttpBinding" bindingConfiguration="WsfiltrosestadisticasWebPortBinding"
        contract="WsFiltros.WsfiltrosestadisticasWeb" name="WsfiltrosestadisticasWebPort" />
      <endpoint address="http://2.2.2.24:7001/WsIncidenciaModuloWeb/WsincidenciamoduloWebService"
        binding="basicHttpBinding" bindingConfiguration="WsincidenciamoduloWebPortBinding"
        contract="WsIncidenciaModulos.WsincidenciamoduloWeb" name="WsincidenciamoduloWebPort" />
      <endpoint address="http://cwsnucleo2.alemana.cl:80/WsPlantillaEstadisticaWeb/WsplantillaestadisticaWebService"
        binding="basicHttpBinding" bindingConfiguration="WsplantillaestadisticaWebPortBinding"
        contract="WsPlantilla.WsplantillaestadisticaWeb" name="WsplantillaestadisticaWebPort" />
      <endpoint address="http://crmtst.alemana.cl/PSIGW/PeopleSoftServiceListeningConnector"
        binding="basicHttpBinding" bindingConfiguration="AL_INTEGRACION_NUCLEO_Binding"
        contract="WsIntegracionCRM.AL_INTEGRACION_NUCLEO_PortType" name="AL_INTEGRACION_NUCLEO_Port" />
      <endpoint address="http://2.2.2.24:7001/WsindicadoresestadisticasWeb/WsindicadoresestadisticasWebService"
        binding="basicHttpBinding" bindingConfiguration="WsindicadoresestadisticasWebPortBinding"
        contract="WsIndicadores.WsindicadoresestadisticasWeb" name="WsindicadoresestadisticasWebPort" />
      <endpoint address="http://2.2.2.24:7001/wsAgendaMedicaWeb/WsagendamedicaWebService"
        binding="basicHttpBinding" bindingConfiguration="WsagendamedicaWebPortBinding"
        contract="WsAgendaMedica.WsagendamedicaWeb" name="WsagendamedicaWebPort" />
    </client>
  </system.serviceModel>
</configuration>